* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #987554 !important;
}
.sections > section {
    border: none;
    margin: none;
    
}
.notify-menu {
	background-color: rgba(110, 38, 14, 0.5);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.background {
    background-image: url("background.jpg") ;
    background-color: #ffe0c4;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 800px; 
    width:100%;
}
.sections {
    position: relative;
}

.sections section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); 
}

.sections section h2 {
    margin-bottom: 10px;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.main-menu {
    list-style: none;
    margin: auto;
    padding: 23px 20px;
    display: flex;
    position: absolute;
    top: 5px;
    right: 20px;
}

.main-menu li {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.notify-menu .main-menu li:hover {
    color: white;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
}

.main-menu .dropdown-menu {
    top: 100%;
    left: 0;
    text-decoration: none;
    background-color: #ffe0c4;
    right: 0;
    padding: 10px 8px 10px 20px;
}
.main-menu .dropdown-menu li a {
    padding: 0;
    text-decoration: none;
    color: black;
    margin-left: 0;
    font-size: 25px;
}
.main-menu .dropdown-menu li:hover a {
    color: white;
}
.logo {
	border-radius: 50px;
}
.title {
    font-size: 100px;
    text-transform: uppercase;
    top: 40%;
    left: 25%;
    position: absolute;
    color: white;
    background-color: rgba(143, 80, 8, 0.5);
}
.cake {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 20px;
}
.section-bg3 {
    background-color: black;
    color: white;
    height: 500px;; /* Set height to auto to adjust based on content */
    font-size: 20px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
    padding: 50px; /* Reduce padding to 50px */
    width: 500px;
}

.mySlides {
    display: none;
    width: 800px;
    margin: 0 auto;
}
.menu{
    font-size: 500%;
    text-align: center;
}
.texted {
    position: absolute;
    bottom: 8px;
    color: #381c10;
    font-size: 500%;
    z-index: 1;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}


.slideshow img {
    width: 100%;
}

.w3-display-container {
    position: relative;
}

.w3-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 10px;
    z-index: 1;
}

.w3-display-left {
    left: 0;
}

.w3-display-right {
    right: 0;
}

.section-bg1 {
    background-size: cover;
    background-position: center;
    background-color: #987554 !important;
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 10px 0 10px 0;
}
.image {
    display: block;
    width: auto;
    height: auto;
    opacity: 1;
}

.overlay {
    position: relative;
}

.text {
    white-space: nowrap;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.overlay:hover .text {
    opacity: 1;
}
